RESEND_API_KEY=
FORM_TO_EMAIL=
FORM_FROM_EMAIL="SoArt <onboarding@resend.dev>"
GITHUB_TOKEN=
GITHUB_REPO=MichalFoux/soart-registrations-private
GITHUB_STORAGE_BRANCH=main
GITHUB_STORAGE_PATH=registrations
